/* @media screen {
    div.pdfHeader,
    div.pdfFooter {
        display: none;
    }
    }
    

.pdfHeader {
position: fixed;
top: 0;
left: 10px;
width: 100%;
text-align: left;
}

div.pdfFooter {
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
}

div.pdfFooter:before {
content: counter(page);
} */

